.navbar-nav {
    margin-right: 0;
}
.carousel-image{
   
    width: 100%;
    height: 80vh;
}

.about-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.navbar-brand {
    color: aliceblue;
}
.carousel-caption{
    top: 200px !important;
}
.middle{
    display: flex;
   
    
}
.left{
    margin: 50px 100px;
   
}
.middle img{
width: 500px;
height: 300px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

}
.about-button{
    display: flex;
justify-content: center;
margin: 20px 0px 20px;

}
.screenshot{
    background-color: rgb(231, 240, 243);
}

.image-container {
   
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    width: 60%;
    height: 100%;
    border-radius: 20px;
    /* object-fit: contain; */
    object-position: center; 
  }
  .service{
    background-color: rgb(221, 242, 250);
  }
  .container{
    width: 70vw;
  }
.service-image{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

   
.blog-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.card{
    margin-top: 10px;
    border: none;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
   background-color: beige;
   padding-bottom: 50px;
   padding-bottom: 50px;
   align-items: center;
  
}
.form{
    background-color: white;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.form input{
    width: 80%;
    margin: 20px;
}
.register{
    
    width: 70px;
    background-color: rgb(17, 16, 16);
    color: white;
    margin-bottom: 10px;
    
}
.footer{
    width: 100vw;
    height: 80px;
    background-color: red;
    text-align: center;
}
.footer a{
   
    margin: 20px;
    justify-content: center;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 600px) {
    .middle {
      flex-direction: column;
      align-items: center;
    }
    .left{
        margin: 5px;
        text-align: center;
    }
    .middle img{
        border-radius: 20px;
    }
  }
